<div class="gamestyle-container">
	<ul class="nav nav-pills nav-justified">
		<li><a href="#">All</a></li>
		<li><a href="#">Turbo</a></li>
		<li><a href="#">Late</a></li>
		<li><a href="#">Later</a></li>
	</ul>
</div>
<div class="calculate">
	<!-- NEED TO ADD AN NG-CLICK FEATURE HERE WHICH SENDS A GET REQUEST TO THE /SCRAPE PAGE -->
	<a href="/#!/results"><button class="btn btn-primary btn-lg">Calculate!</button></a>
</div>
<div class="table-container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Player</th>
				<th>Team</th>
				<th>Pos</th>
				<th>Price</th>
				<th>Expected Points</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Andre Drummond</th>
				<th>DET</th>
				<th>C</th>
				<th>9000</th>
				<th>55</th>
			</tr>
			<tr>
				<th>Andre Drummond</th>
				<th>DET</th>
				<th>C</th>
				<th>9000</th>
				<th>55</th>
			</tr>
			<tr>
				<th>Andre Drummond</th>
				<th>DET</th>
				<th>C</th>
				<th>9000</th>
				<th>55</th>
			</tr>
			<tr>
				<th>Andre Drummond</th>
				<th>DET</th>
				<th>C</th>
				<th>9000</th>
				<th>55</th>
			</tr>
			<tr>
				<th>Andre Drummond</th>
				<th>DET</th>
				<th>C</th>
				<th>9000</th>
				<th>55</th>
			</tr>
			<tr>
				<th>Andre Drummond</th>
				<th>DET</th>
				<th>C</th>
				<th>9000</th>
				<th>55</th>
			</tr>
		</tbody>
	</table>										
</div>